.hibp-container {
    padding: 8px;
}

.hibp-container form {
	display: flex;
	align-items: center;
}

.hibp-input {
    border: solid black 2px;
    padding: 8px;
    margin: 8px;
}

.hibp-button {
    cursor: pointer;
    border: solid black 1px;
    border-radius: 4px;
    background-color: black;
    color: #fff;
    padding: 8px;
}

#hibp-toggle-breach {
	display: none;
}

#hibp-toggle-safe {
	display: none;
}