.hibp-container {
    padding: 8px;
}

.hibp-input {
    border: solid #fab900 2px;
    padding: 8px;
    margin: 8px;
}

.hibp-button {
    cursor: pointer;
    border: solid #fab900 1px;
    border-radius: 4px;
    background-color: #fab900;
    color: #fff;
    padding: 8px;
}